<div class="relative">
	<div class="carousel-container">
		<div class="carousel-container__context" id="carousel-container__context">
			<!-- <div class="carousel-container__context__item carousel-item">
				<div class="carousel-container__bg">
					<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/carousel/image01.jpg" alt=""/>
				</div>
				<div class="carousel-container__modal">
					<div class="carousel-container__modal-context">
						<div class="carousel-container__modal-text">
							<label class="a">36 AYA KADAR</label>
							<label class="b">VADE FARKSIZ</label>
						</div>
					</div>
				</div>
			</div> -->
			
			<div class="carousel-container__context__item carousel-item">
				<div class="carousel-container__bg">
					<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/ozellikler/sliderresimm.jpg" alt=""/>
				</div>
				<div class="carousel-container__modal">
					<div class="carousel-container__modal-context">
						<div class="carousel-container__modal-text">
							<label class="a">AVRUPA'NIN EN BÜYÜK<br>SAĞLIK KENTİ</label>
							<label class="b">HAYATIN İÇİNDE</label>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="carousel-container__context__item carousel-item">
				<div class="carousel-container__bg">
					<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/carousel/Asofio2.jpg" alt=""/>
				</div>
				<div class="carousel-container__modal">
					<div class="carousel-container__modal-context">
						<div class="carousel-container__modal-text">
							<label class="a">ULAŞIM ALANLARI YAKILIĞIYLA<br></label>
							<label class="b">HAYATIN MERKEZİNDE</label>
						</div>

					</div>
				</div>
			</div>
			<!---->
		</div>
		<div class="carousel-container__arrow--left"></div>
		<div class="carousel-container__arrow--right"></div>
	</div>
	{% include "partials/request-form.twig" with {'isvisible':' hidden-m'} only %}
	<div class="request-form-buttons show-m">
		<button type="button" id="mobile-request-form">BİLGİ TALEP FORMU<div class="arrow">
				<span></span>
			</div>
		</button>
	</div>
</div>
