<div class="footer-logos">
	<div class="footer-logos__context">
		<a href="http://asafio.com/" target="_blank">
			<img src="{{ __base__ }}/assets/images/common/footerlogos.png" alt=""/></a>
			<div>
			<a href="http://digitalpanzehir.com/" target="_blank">
		<img src="{{ __base__ }}/assets/images/common/pz.png" alt=""/></div><a/>
	</div>
	<p style="text-align:center">
	&copy; {{ "now"|date("Y") }} ASAF İş Ortaklığı, Tüm Hakları Saklıdır.</p>
</div>
