<div class="request-form  {{ isvisible }}">
	{% if ismobile %}
		<div class="request-form-close">
			<button type="button">Kapat</button>
		</div>
	{% endif %}
	<div class="request-form__context">
		<form class="form-application">
			<input id="source" name="source" type="hidden" value="HomePage" class="source">
			<ul>
				<li>
					<h1 class="request-form__title">BİLGİ TALEP FORMU</h1>
				</li>
				<li>
					<div class="form-group"><input type="text" name="rf__name" data-error="İsim alanı geçersiz" class="form-group__input" placeholder="Adınız, soyadınız"/></div>
				</li>
				<li>
					<div class="form-group"><input type="text" name="rf__email" data-error="E-posta alanı geçersiz" class="form-group__input" placeholder="E-posta"/></div>
				</li>
				<li>
					<div class="form-group"><input type="text" name="rf__phone" data-error="Telefon alanı geçersiz" class="form-group__input phone-format" placeholder="Telefon"/></div>
				</li>
				<li>
					<b class="request-form__subtitle">Satın Alım Amacınız</b>
				</li>
				<li class="flex">
					<div class="form-group__checkbox">
						<input type="checkbox" id="rf__buy_investment" name="rf__buy_investment"/>
						<label for="rf__buy_investment">Yatırım</label>
					</div>
					<div class="form-group__checkbox">
						<input type="checkbox" name="rf__buy_sitting" id="rf__buy_sitting"/>
						<label for="rf__buy_sitting">Oturum</label>
					</div>
				</li>
				<li class="confirm-area">
					<div class="form-group__checkbox">
						<input type="checkbox" name="rf__confirm_info" id="rf__confirm_info" data-error="Bilgilendirme yazısını onaylamadınız"/>
						<label for="rf__confirm_info">
							<a href="#" open-popup="#info">Bilgilendirme yazısını</a>
							okudum, kabul ediyorum</label>
					</div>
				</li>
				<li>
					<div class="form-group__buttons">
						<button type="submit" class="btn">
							<label>GÖNDER</label>
						</button>
					</div>
					<div class="form-status">
						<label></label>
					</div>
				</li>
			</ul>
		</form>
	</div>
</div>

<div class="popup-container" id="info">
	<div class="popup">
		<div class="popup-header">
			<a href="#" close-popup class="popup-close">Kapat</a>
		</div>
		<div class="popup-content">
			<h1>ASAF İŞ ADİ ORTAKLIĞI TİCARİ İŞLETMESİ<br/>
				KİŞİSEL VERİLERİN KORUNMASI HAKKINDA AYDINLATMA BİLDİRİMİ</h1>
			<p>Bu Bilgilendirme ve Aydınlatma Formu, 6698 sayılı Kişisel Verilerin Korunması Kanunu (“KVK Kanun”) ile düzenlenen gerçek kişilerin “Kişisel Verilerinin” işlenmesi ve aktarılması kapsamında hazırlanmıştır. 6698 Sayılı Kanun kapsamında, şirketimiz ile paylaşmış olduğunuz tarafınıza ait her türlü güncel bilgi “Kişisel Veri” olarak kabul edilecektir.</p>

			<p>Sizlere ait kişisel verilerin güvenliği bizler için büyük önem taşımakta olup, kişisel verileriniz mevzuatın öngördüğü şartlara uygun olarak, mümkün olan en güvenli şekilde ve hukuki yükümlülüklerin gerektirdiği süreyle, mevzuata uygun koşullarda saklanacaktır.</p>

			<p>a) Veri Sorumlusu ve Temsilcisi 6698 sayılı Kişisel Verilerin Korunması Kanunu (“KVK Kanun”) uyarınca kişisel verileriniz; “Veri Sorumlusu” olarak ASAF İŞ ADİ ORTAKLIĞI TİCARİ İŞLETMESİ tarafından aşağıda açıklananlar kapsamında işlenebilecektir.</p>

			<p>b) Kişisel Verilerinizin Hangi Amaçla İşlenebileceği Toplanan kişisel verileriniz, şirketimiz ve şirketimiz ile iş ilişkisi içerisinde olan gerçek ve tüzel kişilerin yükümlülüklerinin ifası, güncellemeler ile ilgili bilgilendirme yapabilmek, sizlerle yapılacak sözleşmelerin kurulması ve ifa edilmesi ile kanuni yükümlülüklerin hatırlatılması ve yerine getirilmesi, çeşitli reklam ve pazarlama faaliyetlerinde bulunmak, anket ve oylamalar ile görüşünüzün alınması, sizler için uygun ürün, proje ve hizmetlerin belirlenmesi, bunların size özel hale getirilmesi ve geliştirilmesi, etkin bir müşteri hizmeti sunulması, mevzuatta, şirket içi politikalarda sizi ilgilendiren değişikliklerin bildirilmesi veya sizi ilgilendiren diğer bildirimlerin yapılması, doğum günü kutlaması, çekiliş veya yarışmalara dahil edilme, hediye verilmesi ve sizin lehinize olan benzeri diğer etkinlik, promosyon ve kampanyaların gerçekleştirilmesi, sizleri elektronik posta, SMS ve faks ile bilgilendirmek, kampanyalardan haberdar etmek, tarafınıza basılı bültenler, dergiler, kampanyalara dair yazılar göndermek, ziyaretçi profillerimizi belirlemek, istek, talep ve şikayetleri değerlendirmek ve şirketimizin insan kaynakları politikalarının yürütülmesi, sizlerden gelen talep ve soruların cevaplanması amacı ile 6698 sayılı Kanun’un 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları dahilinde işlenebilecektir.</p>

			<p>c) İşlenen Kişisel Verilerin Kimlere ve Hangi Amaçla Aktarılabileceği Toplanan kişisel verileriniz; hukuka ve dürüstlük kurallarına uygun, doğru ve gerektiğinde güncel, belirli, açık ve meşru amaçlar için işlenen, işlendikleri amaçla bağlantılı, sınırlı ve ölçülü, ilgili mevzuatta öngörülen veya işlendikleri amaç için gerekli olan süre kadar muhafaza edilme ilkelerine uygun olarak işlenir. Ayrıca, KVK Kanunu’nun 8 ve 9’uncu maddelerinde öngörülen şartlara uymak ve gerekli güvenlik önlemlerini almak kaydıyla, işbu bildirimin (b) maddesi başlığı altında sayılan amaçlarla sınırlı olarak, dolaylı/doğrudan yurtiçi/yurtdışı iştiraklerimiz ya da bağlı ortaklıklarımız, şirketimizce hizmet/destek/danışmanlık alınan ya da işbirliği yapılan ya da proje/program/finansman ortağı olunan yurtiçi/yurtdışı/uluslararası, kamu/özel kurum ve kuruluşlar, şirketler ve sair 3. kişi ya da kuruluşlara, şirketimizin bağlı şirketleri, danışmanları, hissedarları ya da çözüm ortakları diğer grup şirketlerine, Merkezi Kayıt Kuruluşu ve diğer yetkili kurum ve kuruluşlara, tedarikçilerine veya alt yüklenicilerine aktarabilir. ASAF, kişisel verilerinizi, gerekli güvenlik önlemlerini almak kaydıyla Türkiye içinde veya dışında bulunan sunucularda veya diğer elektronik ortamlarda işleyip saklayabilir.</p>

			<p>ç) Kişisel Verilerinizin Toplanma Yöntemi Ve Hukuki Sebebi Kişisel verileriniz, Şirketimiz tarafından farklı kanallardan ASAF’ın merkezi, şubeleri, acenteleri, satış ofisleri veya diğer alt yüklenicileri veya iş ortakları ile iletişime geçebileceğiniz ofis ve diğer fiziki ortamlar, çağrı merkezleri, internet siteleri, mobil uygulamalar ve benzeri elektronik işlem platformları, sosyal medya veya diğer kamuya açık mecralar aracılığıyla, düzenleyecekleri eğitim, konferans ve benzeri ortamlara katılmanızla, tahkikat yöntemiyle veya diğer grup şirketleri veya anlaşmalı oldukları diğer kişi ve kuruluşlar kanalıyla yazılı, sözlü, ses veya görüntü kaydı veya diğer fiziksel veya elektronik ortamda vb. ) elde edilebilir. Kişisel verileriniz KVK Kanunu’nun 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları kapsamında bu metnin (b) ve (c) maddelerinde belirtilen amaçlarla toplanabilecek, işlenebilecek, aktarılabilecek ve saklanabilecektir. Kişisel Verileriniz, hukuki yükümlülüklerin gerektirdiği süreyle ya da ilgili mevzuatta izin verilen süreyle mevzuata uygun koşullarda saklanmaktadır.</p>

			<p>d) Kişisel Veri Sahibi Olarak Haklarınız Kişisel veri sahipleri olarak, haklarınıza ilişkin taleplerinizi, aşağıda düzenlenen yöntemlerle Şirketimize iletmeniz durumunda, Şirketimiz talebinizi niteliğine göre en kısa sürede ve en geç otuz gün içinde ücretsiz olarak sonuçlandıracaktır. Ancak, Kişisel Verileri Koruma Kurulunca bir ücret öngörülmesi halinde, Şirketimiz tarafından belirlenen tarifedeki ücret alınacaktır. Bu kapsamda kişisel veri sahipleri;</p>

			<p>Kişisel veri işlenip işlenmediğini öğrenme, Kişisel verileri işlenmişse buna ilişkin bilgi talep etme, Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme, Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme, Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme, KVK Kanunu’nun ve ilgili diğer kanun hükümlerine uygun olarak işlenmiş olmasına rağmen, işlenmesini gerektiren sebeplerin ortadan kalkması hâlinde kişisel verilerin silinmesini veya yok edilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme, İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme, Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme haklarına sahiptir. KVK Kanunu’nun 13. maddesinin 1. fıkrası gereğince, yukarıda belirtilen haklarınızı kullanmak ile ilgili talebinizi, yazılı olarak Şirketimize iletebilirsiniz. KVK Kanunu’nun 11. maddesinde belirtilen haklardan kullanmayı talep ettiğiniz hakkınıza yönelik açıklamalarınızı içeren talebinizi www.ucuncuistanbul.com.tr adresindeki formu doldurarak, formun ıslak imzalı bir nüshasını ASAF’a hitaben “Başakşehir Mah. Cahit Zarifoğlu Caddesi No:8 Kat:1 Başakşehir / İstanbul” adresine kimliğinizi tespit edici belgeler ile bizzat elden iletebilir veya noter kanalıyla gönderebilirsiniz.</p>

			<p>Şirketimizin KVK Kanunu’nda olabilecek değişiklikler ve Kişisel Verileri Koruma Kurulu tarafından belirlenecek yöntemler nedeni ile bu aydınlatma bildiriminde değişiklik yapma hakkı saklıdır.</p>
		</div>

	</div>
</div>
