<div class="section-page">
	<div class="section-page__context">
		<div class="basaksehir-story">
			<article>
				<div class="basaksehir-story__header" data-aos="fade-down" data-aos-delay="300">
					<h1>
						<strong>BAŞAKŞEHİR'İN</strong>
						EN BÜYÜK VADİSİ!</h1>
					<p>Gök mavi... Deniz mavi... İstanbul'un insanı içine çeken derinliği hepsinden mavi...</p>
				</div>
				<div class="carousel-wrapper">
					<div class="basaksehir-story__carousel carousel-standard carousel-wrapper__context" id="basaksehir-story-carorusel-context">
						<div class="carousel-standard--item carousel-item">
							<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/story/basaksehir/image001.jpg" alt="" class="hidden-m"/>
							<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/story/basaksehir/image001-mobile.jpg" alt="" class="show-m"/>
						</div>
						<div class="carousel-standard--item carousel-item">
							<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/story/basaksehir/image001.jpg" alt="" class="hidden-m"/>
							<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/story/basaksehir/image001-mobile.jpg" alt="" class="show-m"/>
						</div>
						<div class="carousel-standard--item carousel-item">
							<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/story/basaksehir/image001.jpg" alt="" class="hidden-m"/>
							<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/story/basaksehir/image001-mobile.jpg" alt="" class="show-m"/>
						</div>
					</div>
					<div class="basahsehir-story__carousel__arrow">
						<div class="basahsehir-story__carousel__arrow--left"></div>
						<div class="basahsehir-story__carousel__arrow--right"></div>
					</div>
				</div>
			</article>
			<div class="carousel-standard--control" data-thumb-type="span"></div>
			<div class="basaksehir-story__detail">
				<a href="/proje-ozellikleri" target="_self" class="btn btn-outline">Detaylar</a>
			</div>
		</div>
	</div>
</div>
