<div class="footer">
	<div class="footer__left">
		<div class="footer__left-context">
			<div class="footer__left-context-col--left">
				<ul>
					<li><a href="/proje-ozellikleri">PROJE ÖZELLİKLERİ</a></li>
					<li><a href="/yasam-secenekleri">YAŞAM SEÇENEKLERİ</a></li>

					<li><a href="/lokasyon">LOKASYON</a></li>
					<li><a href="/daire-planlari">DAİRE PLANLARI</a></li>
					<li><a href="/galeri">GALERİ</a></li>
					<li><a href="/basinda">BASINDA</a></li>
				</ul>
			</div>
			<div class="footer__left-context-col--right">
				<div class="contact-info__context">
					<h1>İLETİŞİM</h1>
					<p class="address">Hürriyet Bulvarı Oyak</p>
					<p class="address">Kent Yanı Başakşehir</p>
					<p class="address">Mahallesi</p>
					<p class="phone">
						<b>
							<a href="tel://+90 212 401 67 50">+90 212 401 67 50</a>
						</b>
					</p>
				</div>
				<div class="contact-info__context--social">
					<ul>
						<li>
							<a href="https://www.instagram.com/ucuncuistanbul/" target="_blank">
								<i class="fab fa-instagram"></i>
							</a>
							<a href="https://www.facebook.com/ucuncuistanbul/" target="_blank">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a href="https://www.youtube.com/channel/UCCF7MDDYnLMInxN09jV0oDQ/videos" target="_blank">
								<i class="fab fa-youtube"></i>
							</a>
							<a href="https://twitter.com/ucuncuistanbul/" target="_blank">
								<i class="fab fa-twitter"></i>
							</a>


						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__right">

		<div id="map"></div>
	</div>
</div>
