<div class="life-options-story">

	{% if page_content == true %}
		<div class="life-options-story__header">

			<h1 class="life-options-story__title" data-aos="fade-up">
				<strong>YAŞAM</strong>
				SEÇENEKLERİ
			</h1>
			<h2 data-aos="fade-up">Ah İstanbul, ah! Bir ömür yeter mi hiç seni yaşamaya?</h2>
		</div>
	{% endif %}
	<div class="gallery-tabs life-tabs">
		<a class="test" href="/yasam-secenekleri#section1">MODA EVLERİ</a>
		<a class="test" href=" /yasam-secenekleri#section2">HASBAHÇE EVLERİ</a>
		<a class="test" href="/yasam-secenekleri#section3">GRAND REZİDANS</a>
    </div>
	<div class="life-options-story__area" id="section1">
		<div class="life-options-story__area-item">
			<div class="life-options-story__area-item-bg">
				<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/story/yasam-secenekleri/98188239.jpg" alt="" class="hidden-m"/>
				<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/story/yasam-secenekleri/98188239-mobile.jpg" alt="" class="show-m"/>
			</div>
			<div class="lfo__area-item-modal" data-aos="fade-up">
				<ul>
					<li class="lfo__area-item-modal__img">
						<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/story/yasam-secenekleri/logo-moda-evleri.png" alt="" class="hidden-m"/>
						<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/story/yasam-secenekleri/logo-moda-evleri-mobile.png" alt="" class="show-m"/>
					</li>
					{% if page_content %}
						<li class="lfo__area-item-modal__desc">
							Yepyeni bir hayata başlamak için doğru kapıdan adım atmanın zamanı geldi. 
														Mükemmel bir hayatın kapılarının açıldığı Moda Evleri, 2+1 ve 3+1 daireleri ile özellikle yeni evliler ve çocuklu aileler için ideal bir seçenek...
						</li>
						<li class="lfo__area-item-modal__button">
							<a href="/yasam-secenekleri#section1" class="color-orange">Detaylar için tıklayın</a>
						</li>
					{% endif %}
				</ul>
			</div>

			{% if page_content == false %}
				<div class="life-options-story__carousel">
					<div class="life-options-story__carousel-item carousel-context" id="life-options-context">
						<div class="carousel-wrapper" data-aos="fade-right">
							<div class="carousel-image" id="life-options-items">
								<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/life/image01.jpg" alt=""/>
								<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/life/image01.jpg" alt=""/>
								<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/life/image01.jpg" alt=""/>
								<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/life/image01.jpg" alt=""/>
							</div>
						</div>
						<div class="carousel-image-dots" id="carousel-tumbs-moda" data-thumb-type="button"></div>

						<div class="life-options-story__carousel-button show-m">
							<a href="javascript:showForm('mmm')" class="button btn-green">Biz Sizi Arayalım</a>
						</div>
					</div>
					<div class="life-options-story__carousel-item life-options-story__carousel-text" data-aos="fade-left">
						<p>
							Yepyeni bir hayata başlamak için doğru kapıdan adım atmanın zamanı geldi.<br>
							Mükemmel bir hayatın kapılarının açıldığı Moda Evleri, 2+1 ve 3+1 daireleri ile özellikle yeni evliler ve çocuklu aileler için ideal bir seçenek.<br>
							1. etabında toplamda 5 blok bulunan Moda Evleri, ferah ve aydınlık yaşam alanları, bahçe manzaralı balkonları ile her güne anlam katıyor.

						</p>
						<div class="life-options-story__carousel-button hidden-m">
							<a href="javascript:showForm('ddd')" class="button btn-green">Biz Sizi Arayalım</a>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
		<div class="life-options-story__area-item" id="section2">
			<div class="life-options-story__area-item-bg">
				<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/story/yasam-secenekleri/782749918.jpg" alt="" class="hidden-m"/>
				<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/story/yasam-secenekleri/782749918-mobile.jpg" alt="" class="show-m"/>
			</div>
			<div class="lfo__area-item-modal reverse" data-aos="fade-up">
				<ul>
					<li class="lfo__area-item-modal__img">
						<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/story/yasam-secenekleri/logo-hasbahce-evleri.png" alt="" class="hidden-m"/>
						<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/story/yasam-secenekleri/logo-hasbahce-evleri-mobile.png" alt="" class="show-m"/>
					</li>
					{% if page_content %}
						<li class="lfo__area-item-modal__desc">
							Hayattaki en değerli varlığı ailesi olanlar, ailesinin mutluluğu, güveni ve huzuru için her detayı düşünenler şimdi Hasbahçe Evleri’nde buluşuyor. 
														Ailesiyle beraber kaliteli bir yaşam sürmek isteyenlerin tercih ettiği Hasbahçe....
						</li>
						<li class="lfo__area-item-modal__button">
							<a href="/yasam-secenekleri#section2" class="color-green">Detaylar için tıklayın</a>
						</li>
					{% endif %}
				</ul>
			</div>
			{% if page_content == false %}
				<div class="life-options-story__carousel reverse">
					<div class="life-options-story__carousel-item carousel-context ">
						<div class="carousel-wrapper" data-aos="fade-right">
							<div class="carousel-image" id="life-options-items-bahce">
								<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/life/image02.jpg" alt=""/>
								<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/life/image02.jpg" alt=""/>
								<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/life/image02.jpg" alt=""/>
								<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/life/image02.jpg" alt=""/>
							</div>
						</div>
						<div class="carousel-image-dots" id="carousel-tumbs-bahce" data-thumb-type="button">
							<button type="button" class="active"></button>
						</div>

						<div class="life-options-story__carousel-button show-m">
							<a href="javascript:showForm('ccc')" class="button btn-green">Biz Sizi Arayalım</a>
						</div>
					</div>
					<div class="life-options-story__carousel-item life-options-story__carousel-text" data-aos="fade-left">
						<p>
							Hayattaki en değerli varlığı ailesi olanlar, ailesinin mutluluğu, güveni ve huzuru için her detayı düşünenler şimdi Hasbahçe Evleri’nde buluşuyor.<br>
							Ailesiyle beraber kaliteli bir yaşam sürmek isteyenlerin tercih ettiği Hasbahçe Evleri; birbirinin manzarasını kapatmayan, toplam 6 bloktan oluşuyor.<br>
							Yüksek tavanlı, teraslı/balkonlu, ferah, 1+1, 2+1, 3+1, 4+1 daire seçenekleri ile Hasbahçe Evleri, İstanbul’un yeni merkezinde yeni yaşamlara merhaba diyor.

						</p>
						<div class="life-options-story__carousel-button hidden-m">
							<a href="javascript:showForm('bbb')" class="button btn-green">Biz Sizi Arayalım</a>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
		<div class="life-options-story__area-item" id="section3">
			<div class="life-options-story__area-item-bg">
				<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/story/yasam-secenekleri/592749912.jpg" alt="" class="hidden-m"/>
				<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/story/yasam-secenekleri/592749912-mobile.jpg" alt="" class="show-m"/>
			</div>
			<div class="lfo__area-item-modal" data-aos="fade-up">
				<ul>
					<li class="lfo__area-item-modal__img">
						<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/story/yasam-secenekleri/logo-grand.png" alt="" class="hidden-m"/>
						<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/story/yasam-secenekleri/logo-grand-mobile.png" alt="" class="show-m"/>
					</li>
					{% if page_content %}
						<li class="lfo__area-item-modal__desc">
							İstanbul’un yeni yaşam alanı 3. İstanbul’un merkezindeki Grand Rezidans’la kazanmaya hazır olun. Tüm ulaşım merkezlerine, Avrupa’nın en büyük Sağlık Kent’ine, eğitim...
						</li>
						<li class="lfo__area-item-modal__button">
							<a href="/yasam-secenekleri#section3" class="color-blue">Detaylar için tıklayın</a>
						</li>
					{% endif %}
				</ul>
			</div>

			{% if page_content == false %}
				<div class="life-options-story__carousel">
					<div class="life-options-story__carousel-item carousel-context ">
						<div class="carousel-wrapper" data-aos="fade-right">
							<div class="carousel-image" id="life-options-items-grand">
								<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/life/image02.jpg" alt=""/>
								<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/life/image02.jpg" alt=""/>
								<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/life/image02.jpg" alt=""/>
								<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/life/image02.jpg" alt=""/>
							</div>
						</div>
						<div class="carousel-image-dots" id="carousel-tumbs-grand" data-thumb-type="button"></div>

						<div class="life-options-story__carousel-button show-m">
							<a href="javascript:showForm('aaa')" class="button btn-green">Biz Sizi Arayalım</a>
						</div>
					</div>
					<div class="life-options-story__carousel-item life-options-story__carousel-text" data-aos="fade-left">
						<p>
							İstanbul’un yeni yaşam alanı 3. İstanbul’un merkezindeki Grand Rezidans’la kazanmaya hazır olun.
														                     Tüm ulaşım merkezlerine, Avrupa’nın en büyük Sağlık Kent’ine, eğitim kurumlarına, 4 mevsim de ayrı güzelliğin yaşandığı botanik parka yakın konumuyla Grand Rezidans, Başakşehir’in yeni yaşam merkezi. Vadi manzarası ve kat kat uzanan teraslarıyla bambaşka bir yapıya sahip Grand Rezidans’ın 1+1 ve 2+1’den oluşan daireleri, home office olarak kullanmak için de ideal.
						</p>
						<div class="life-options-story__carousel-button hidden-m">
							<a href="javascript:showForm('sss');" class="button btn-green">Biz Sizi Arayalım</a>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
	</div>

	{% if page_content == true %}
		<div class="life-options-story__button">
			<a href="/yasam-secenekleri" target="_self">Detaylar</a>
		</div>
	{% endif %}
</div>
