.relative {
    position: relative;
}

[data-carousel-fit]>* {
    flex: 1;
}

.carousel-wrapper {
    position: relative;
    overflow: hidden;
    flex-wrap: nowrap;
    &__context {
        display: flex;
        position: relative;
        transition: transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
        .carousel-item {
            img {
                pointer-events: none;
            }
        }
    }
}

.carousel-container {
    display: block;
    @extend .carousel-wrapper;
    &__context {
        display: flex;
        position: relative;
        transition: transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
        &__item {
            min-width: 100%;
            position: relative;
        }
        &[data-carousel-fit] {
            .carousel-item {
                flex: 1;
                min-width: inherit;
            }
        }
    }
    &__bg {
        overflow: hidden;
        display: block;
        height: 763px;
        pointer-events: none;
        @media screen and (max-width: 768px) {
            height: 350px;
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .carousel-container__arrow {
        &--left,
        &--right {
            transform: scale(1.5);
            top: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            max-width: 80px;
            margin: auto;
            position: absolute;
            &::after {
                content: "";
                border-left: 2px solid #fff;
                border-bottom: 2px solid #fff;
                transform: rotate(-135deg);
                width: 100%;
                height: 100%;
                max-width: 40px;
                max-height: 40px;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                right: 39%;
            }
        }
        &--left {
            left: 3%;
            &::after {
                transform: scaleY(-1) rotate(45deg);
                left: 39%;
            }
            @media screen and (max-width: 768px) {
                display: none;
            }
        }
        &--right {
            right: 3%;
            @media screen and (max-width: 768px) {
                display: none;
            }
        }
    }
    &__modal {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        &-context {
            min-width: 250px;
            display: block;
            position: absolute;
            left: 8%;
            top: 16%;
            @media screen and (max-width: 1024px) {
                left: 50%;
                transform: translateX(-50%);
                margin: auto;
            }
        }
        &-text {
            display: block;
            /*text-shadow: 0 0 57px #fff;*/
            background: rgba(255, 255, 255, 0.48);
            padding: 20px;
            text-align: center;
            label {
                display: block;
                font-size: 3.2rem;
                letter-spacing: -2px;
                color: $color_darkblue;
                @media screen and (max-width: 768px) {
                    font-size: 10vw;
                    line-height: 80%;
                    text-align: center;
                }
                &.a {
                    font-weight: 500;
                    margin-bottom: 10px;
                    @media screen and (max-width: 1024px) {
                        font-weight: 550;
                        line-height: 47px;
                        margin-bottom: 0;
                    }
                }
                &.b {
                    font-weight: 400;
                    line-height: 47px;
                }
            }
        }
        &-buttons {
            display: block;
            margin-top: 50px;
            @media screen and (max-width: 768px) {
                display: none;
            }
            a {
                display: inline-block;
                background-color: rgba(124, 187, 224, 0.5);
                padding: 13px 40px;
                text-align: center;
                font-size: 18px;
                &:hover {
                    background-color: rgba(0, 60, 95, 0.5);
                }
                label {
                    display: block;
                    font-weight: 600;
                    color: white;
                }
            }
        }
    }
}


/* Standard */

.carousel-standard {
    max-height: 515px;
    &--item {
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &--control {
        display: flex;
        justify-content: center;
        margin: 5px 0;
        span {
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin: 3px 10px;
            border: 2px solid $color_green;
            transition: all 300ms linear;
            &.active {
                display: block;
                background-color: $color_green;
            }
        }
    }
}

.carousel-context {
    position: relative;
    .carousel-image {
        img {
            width: 100%;
            display: block;
        }
        &-dots {
            margin: 10px 0;
            text-align: center;
            button {
                margin: 3px 10px 3px 3px;
                border-radius: 50%;
                background-color: rgba(22, 120, 193, 0.32);
                width: 22px;
                height: 22px;
                border: 0;
                &.active {
                    background-color: $color_darkblue;
                }
            }
        }
    }
}