.start-conversation {
  position: fixed;
  left: 40px;
  bottom: 40px;
  border-radius: 20px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 0 10px 0 0;
  transition: left 0.4s linear;
  left: -100%;
  opacity: 0;
  animation: conversation 1s forwards;
  animation-delay: 2s;
  max-width: 70%;
  button {
    border-radius: 20px;
    background-color: #00a54d;
    color: white;
    font-size: 13px;
    font-weight: bold;
    border: 0;
    padding: 10px 30px;
    &:first-child {
      flex: 1;
      box-shadow: inset 0 14px 0 0 rgba(255, 255, 255, 0.12);
    }
    &:last-child {
      padding: 4px;
      color: white;
      font-weight: bold;
      background: none;
    }
  }
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.3);
  &.hide {
    display: none;
  }
}

.modal,
.modal-context {
  position: fixed;
}

.modal {
  &.hide {
    display: none;
  }
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  &-close {
    position: fixed;
    top: 12px;
    left: 0;
    right: 0;
    margin: auto;
    width: 50px;
    height: 35px;
    background: #000;
    border-radius: 10px 10px 0 0;
    &:before,
    &:after {
      content: "";
      width: 4px;
      height: 23px;
      background: white;
      position: absolute;
      left: 46%;
      top: 7px;
      transform: translateX(-50%);
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }
}
.modal-context {
  max-width: 800px;
  top: 47px;
  bottom: 46px;
  left: 20px;
  right: 20px;
  margin: auto;
  background: white;
  z-index: 10;
  overflow: hidden;
  border-radius: 10px;
}

@keyframes conversation {
  to {
    left: 5%;
    opacity: 1;
  }
}
