@media screen and (max-width: 1024px) {
  .header {
    /* Header */
    &__topbar {
      height: 50px;
    }
    &-menu {
      height: 66px;
      &__logo {
        background-color: white;
        padding: 14px 20px;
        top: -50px;
        width: 155px;
        height: 116px;
        display: flex;
        align-items: center;
      }
      &__top {
        &--context {
          .phone-item {
            span,
            label {
              flex: none;
            }
            span {
              img {
                width: 20px;
              }
            }
            label {
              background-color: $color_green;
              width: 100%;
            }
          }
          ul {
            justify-content: inherit;

            li {
              width: 100%;
              min-width: inherit;
              &.mobile-menu {
                overflow: hidden;
                width: 80px;
                height: 66px;
                padding-top: 5px;
                button {
                  height: 61px;
                  width: 100%;
                  border: 0;
                  background-color: $color_green;
                  img {
                    width: 30px;
                    height: 100%;
                    pointer-events: none;
                  }
                }
              }
            }
          }
        }
      }
      &__bottom {
        &--context {
          display: none;
        }
      }
    }
  }
  .header-menu__bottom--context {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.94);
    overflow: hidden;
    overflow-y: auto;
    z-index: 1000;
    height: 100%;
    &.active{
        display: flex;
    }
    ul {
      flex-direction: column;
      height: 100%;
      justify-content: center;
      width: 100%;
      li.mobile-close {
        margin-bottom: 30px;
        border-bottom: 0;
        justify-content: center;
        display: flex !important;
        a{
            pointer-events: none;
            display: inline-block;
            padding:4px 10px;
            color:#fff;
            background: $color_green;
            font-size:30px;
            line-height: 30px;
            border-radius: 4px;
        }
      }
      li {
        display: block;
        a {
          padding: 10px 20px;
          text-align: center;
          color: white;
          font-size: 4vw;
          border-bottom: 1px solid #1f1f1f;
          &.active {
            color: $color_green;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .header-menu__top--context .phone-item span {
    padding-top: 16px;
    img {
      margin-right: 0;
    }
  }
  .header-menu__top--context .phone-item label {
    font-size: 15px;
    padding-top: 20px;
  }
}
