@import "./variables.scss";
.header {
    /* Header */
    position: relative;
    &__topbar {
        background-color: $color_blue;
        height: 37px;
        &--title {
            display: block;
        }
        &--lang {
            display: block;
            a {
                display: block;
            }
        }
        .context {
            display: flex;
            justify-content: flex-start;
        }
    }
    .context {
        max-width: $size_max_width;
        margin: auto;
        margin-left: 140px;
        .header__social {
            ul {
                li {
                    display: flex;
                    justify-content: space-between;
                    a {
                        padding: 14px 10px;
                        display: block;
                        i {
                            color: white;
                        }
                    }
                }
            }
        }
    }
    &-menu {
        display: flex;
        margin: auto;
        max-width: 1400px;
        &__logo {
            position: relative;
            top: -25px;
            img {
                width: 100%;
            }
        }
        &__context {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        &__top {
            &--context {
                display: block;
                margin-bottom: 30px;
                .phone-item {
                    display: flex;
                    margin-top: 5px;
                    span,
                    label {
                        background-color: #00a54d;
                        font-size: 20px;
                        color: white;
                        padding: 10px;
                        font-weight: bold;
                        height: 61px;
                    }
                    span {
                        margin-right: 2px;
                        flex: 1;
                    }
                    label {
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }
                ul {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    li {
                        min-width: 250px;
                        &.header-phone {
                            overflow: hidden;
                        }
                        a {
                            display: flex;
                            img {
                                margin-right: 10px;
                            }
                            align-items: center;
                        }
                    }
                }
            }
        }
        &__bottom {
            display: block;
            width: 100%;
            &--context {
                display: block;
                ul {
                    display: flex;
                    justify-content: space-between;
                    li {
                        display: block;
                        a {
                            display: block;
                            font-size: 15px;
                            padding: 4px 5px;
                            border-bottom: 3px solid transparent;
                            font-weight: 600;
                            text-decoration: none;
                            color: $color_blue;
                            &:hover {
                                border-bottom-color: $color_green;
                            }
                            &.active {
                                font-weight: bold;
                                border-bottom-color: $color_green;
                            }
                        }
                    }
                }
            }
        }
    }
}

a.sanal-tur,
a.e-katalog {
    color: $color_green;
    font-size: 14px;
    font-weight: bold;
    margin: 2px 15px;
}

@import "./header-mobile.scss";