@media only screen and (max-width: 1680px) and (max-height: 907px) and (min-width: 1025px) {
    .header__topbar {
        height: 30px;
    }
    .header-menu__top--context {
        margin-bottom: 10px;
    }
    .header-menu__top--context img {
        max-height: 30px;
    }
    .header-menu__top--context .phone-item span,
    .header-menu__top--context .phone-item label {
        height: 49px;
    }
    .header-menu__top--context .phone-item label {
        height: inherit;
        padding: 11px 20px;
    }
    .header-menu__logo {
        margin-bottom: -78px;
        z-index: 23;
    }
    .header-menu {
        padding: 0 5px;
    }
    .request-form {
        transform: scale(0.9);
    }
    .sanal-tur img,
    a.e-katalog img {
        max-height: 40px;
    }
    .daire-planlari .planlari__item_group_left img {
        max-width: 300px;
        margin-left: 30px;
    }
}

@media screen and (max-width: 1280px) {
    .carousel-container__modal-text label {
        display: block;
        font-size: 2.9rem;
        color: #0e64a1;
    }
}

@media screen and (min-width: 1400px) {
    .carousel-container__modal-text label {
        display: block;
        font-size: 3.7rem;
        letter-spacing: -5px;
        color: #0e64a1;
    }
}

@media screen and (max-width: 480px) {
    .carousel-container__modal-text label {
        display: block;
        font-size: 1.5rem;
        color: #0e64a1;
    }
}