.popup {
  &-container {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
  }
  transition: opacity 0.4 linear;
  position: fixed;
  max-width: 600px;
  top: 50px;
  bottom: 50px;
  background-color: white;
  z-index: 15;
  margin: auto;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;

  &-header {
    display: flex;
    justify-content: flex-end;
  }
  &-close {
    font-weight: bold;
    font-size: 14px;
    padding: 4px;
    color: #fff;
    display: inline-block;
    border: 1px solid #ddd;
    border-top: 0;
    margin: 0 10px;
    border-radius: 0 0 4px 4px;
    background: #222;
  }
  &-content {
    margin: 10px;
    overflow: hidden;
    overflow-y: auto;
    flex: 1;
    padding: 30px;
    h1 {
      font-size: 20px;
      margin: 0;
      padding: 0;
      line-height: 30px;
      margin-bottom: 30px;
    }
    p {
      margin-bottom: 20px;
    }
  }
  &-context {
    position: fixed;
    border-radius: 10px;
    background-color: white;
    max-height: 200px;
    max-width: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    box-shadow: 0 0 11px -1px #000;
    border-top: 11px solid #00a54d;
  }
  &-message {
    text-align: center;
    padding: 0 20px 40px 20px;
  }
}
