.proje-ozellikleri__props {
    ul {
        flex-wrap: wrap;
        .story-prop {
            width: calc(100% / 6);
        flex:inherit;
            @media screen and (max-width:1024px){
                width:200px;
            }
        }
        li span img {
            max-width: 100px;
        }
    }
}