.request-form {
  position: absolute;
  top: 40px;
  right: 8%;
  width: 100%;
  max-width: 450px;
  background-color: rgba(0, 0, 0, 0.62);
  padding: 20px 30px;

  &.just-mobile {
    display: none;
  }

  &__context {
    display: block;
    form {
      display: block;
      ul {
        display: block;
        li {
          margin-bottom: 23px;
        }
      }
    }
    .confirm-area {
      > .form-group__checkbox {
        width: 100%;
        font-size: 15px;
      }
      margin: 20px 0;
    }
  }
  &__title {
    display: flex;
    width: 100%;
    font-size: 23px;
    font-weight: bold;
    color: white;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  &__subtitle {
    display: block;
    font-size: 15px;
    color: white;
  }
  .form-group {
    width: 100%;

    &__input {
      display: block;
      width: 100%;
      padding: 10px;
      min-height: 60px;
      font-size: 16px;
    }
    &__checkbox {
      display: flex;
      align-items: center;
      width: 50%;
      color: white;
      a{
        color: #00a64e;
        text-decoration: underline;
      }
      input {
        margin-right: 10px;
        width: 20px;
        height: 20px;
      }
      label {
        display: block;
      }
    }
    &__buttons {
      display: block;
      button {
        display: block;
        width: 100%;
        border: 2px solid #00a64e;
        background-color: rgba(0, 166, 78, 0.35);
        color: white;
        padding: 10px 20px;
        label {
          display: block;
        }
      }
    }
  }
  .request-form-close {
    text-align: right;
    border-bottom: 1px solid #333;
    button {
      border: 0;
      padding: 20px 13px;
      min-height: 40px;
      color: white;
      font-size: 17px;
      background-color: inherit;
      transition: all 300ms linear;
      margin: 2px 0;
      border-radius: 5px;
      &:active {
        background-color: $color_green;
      }
    }
  }
  &.request-form-mobile {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: inherit;
    padding: 5%;
    background-color: rgba($color: #000000, $alpha: 0.9);
    z-index: 1000;
    overflow: hidden;
    overflow-y: auto;
    input[type="text"] {
      transition: all 0.3s linear;
      &:focus {
        background-color: $color_green;
        color: white;
        border-color: $color_green;
      }
    }
    .request-form__context {
      animation: marginTop 0.4s forwards;
      max-width: 600px;
      margin: auto;
    }
  }
}

@keyframes marginTop {
  from {
    margin-top: -20px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

.request-form-buttons {
  button {
    background-color: $color_green;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: 0;
    padding: 20px;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div.arrow {
      height: 15px;
      position: relative;
      display: flex;
      span {
        position: relative;
        width: 30px;
        height: 30px;
        border-right: 1px solid #fff;
        border-top: 1px solid #fff;
        transform: rotate(-45deg);
      }
    }
  }
}
.form-status{
  display: none;
}
form[data-error] .form-status {
  display: block;
  label {
    font-size: 15px;
    padding: 10px;
    display: block;
    margin: 10px 0;
    background: #ff5959;
    color: white;
    border-radius: 5px;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .request-form {
    display: none;
  }
}
