.section-page {
  display: block;
  &__context {
    display: block;
  }
}

.istanbul-story {
  padding: 10px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__arrow {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translate(-50%, 50%);
    width: 80%;
    left: 50%;
    height: 1px;
    &--left,
    &--right {
      border-right: 1px solid $color_green;
      border-bottom: 1px solid $color_green;
      width: 40px;
      height: 40px;
      top: -20px;
      position: relative;
    }
    &--right {
      transform: rotate(-45deg);
    }
    &--left {
      transform: rotate(135deg);
    }
  }
  &-image {
    display: flex;
    justify-content: center;
    img {
      display: block;
    }
  }
  &__title {
    display: block;
    margin: 20px 0;
    font-size: 2.5rem;
    text-align: center;
  }
  &__desc {
    display: block;
    font-size: 20px;
    text-align: center;
    line-height: 37px;
    padding: 10px;
    max-width: 1140px;
    margin: auto;
  }
  &__props {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 1140px;
    position: relative;
    ul {
      display: flex;
      justify-content: space-between;
      li {
        text-align: center;
        .prop-item {
          display: flex;
          flex-direction: column;
        }
        span {
          img {
            width: 100%;
            pointer-events: none;
          }
        }
      }
    }
  }
  &__prop {
    display: block;
    label {
      display: block;
    }
  }
}

.basaksehir-story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  article {
    width: 100%;
  }
  &__header {
    display: block;
    h1 {
      display: block;
      margin: 20px 0;
      font-size: 2.5rem;
      text-align: center;
    }
    p {
      display: block;
      font-size: 20px;
      text-align: center;
      margin: 20px 0;
    }
  }
  &__carousel {
    position: relative;
    top: 0;
    bottom: 0;
    margin: auto;
    &__arrow {
    }
  }
  &__detail {
    max-width: 250px;
    width: 100%;
    margin: 10px auto;
    a {
      display: block;
      text-align: center;
      padding: 16px 20px;
      border: 2px solid #00a64e;
      color: #00a64e;
      font-size: 16px;
      font-weight: bold;
      &:hover {
        background-color: #00a64e;
        color: white;
      }
    }
  }
}

.istanbul-way-top {
  background: url(/assets/images/common/way-bar-top.png) no-repeat right bottom;
}

.istanbul-way-bottom {
  background: url(/assets/images/common/way-bar-bottom.png) no-repeat left top;
}

.istanbul-botanik-top {
  background: url(/assets/images/common/botanik-bar-top.png) no-repeat right bottom;
}

.istanbul-botanik-bottom {
  background: url(/assets/images/common/botanik-bar-bottom.png) no-repeat left top;
}

.istanbul-way-story__mobile-area {
  display: none;
}

.istanbul-way-top,
.istanbul-botanik-top,
.istanbul-botanik-bottom,
.istanbul-way-bottom {
  height: 20px;
  background-size: auto 100%;
}

.istanbul-way-story {
  display: block;
  background: url(/assets/images/common/9381993.jpg) no-repeat #1d90ce;
  background-size: cover;
  text-align: center;
  padding: 30px 10px;
  color: white;
  &__header {
    display: block;
  }
  & &__title {
    display: block;
  }
  & &__desc {
    display: block;
    text-align: center;
    label {
      display: block;
      font-size: 33px;
      font-weight: 300;
    }
  }
  &__image {
    display: block;
    .item {
      display: block;
      img {
        display: block;
      }
    }
  }
  &__area {
    display: flex;
    max-width: 1140px;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > div {
      margin: 20px 0;
    }
    .way-group {
      width: 100%;
      margin: auto;
      max-width: 1400px;
    }
    .way-group-1 {
      justify-content: space-evenly;
      margin-top: 60px;
    }
    .way-group-2 {
      justify-content: space-between;
    }
    .way-group-3 {
      justify-content: space-between;
      margin: 40px 0;
    }
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &-01 {
        display: flex;
        h1 {
          font-size: 35px;
          font-weight: 300;
        }
        .item-desc {
          h2 {
            font-size: 5rem;
            letter-spacing: -2px;
            font-weight: 900;
            padding: 0;
            margin: 0;
            line-height: 59px;
            label {
              font-size: 44px;
              font-weight: 300;
            }
          }
        }
      }
      &-02 {
        display: flex;
        h1 {
          font-size: 35px;
          font-weight: 300;
        }
        .item-desc {
          h2 {
            font-size: 5rem;
            letter-spacing: -2px;
            font-weight: 900;
            padding: 0;
            margin: 0;
            line-height: 59px;
            label {
              font-size: 44px;
              font-weight: 300;
            }
          }
        }
      }
      &-03 {
        display: flex;
        h1 {
          font-size: 35px;
          font-weight: 300;
        }
        .item-desc {
          h2 {
            font-size: 5rem;
            letter-spacing: -2px;
            font-weight: 900;
            padding: 0;
            margin: 0;
            line-height: 59px;
            label {
              font-size: 44px;
              font-weight: 300;
            }
          }
        }
      }
      &-04 {
        display: flex;
        h1 {
          font-size: 35px;
          font-weight: 300;
        }
        .item-desc {
          h2 {
            font-size: 5rem;
            letter-spacing: -2px;
            font-weight: 900;
            padding: 0;
            margin: 0;
            line-height: 59px;
            label {
              font-size: 44px;
              font-weight: 300;
            }
          }
        }
      }
      &-05 {
        display: flex;
        h1 {
          font-size: 30px;
          font-weight: 300;
        }
        .item-desc {
          h2 {
            font-size: 5rem;
            letter-spacing: -2px;
            font-weight: 900;
            padding: 0;
            margin: 0;
            line-height: 59px;
            label {
              font-size: 44px;
              font-weight: 300;
            }
          }
        }
      }
      &-06 {
        display: flex;
        h1 {
          font-size: 30px;
          font-weight: 300;
        }
        .item-desc {
          h2 {
            font-size: 5rem;
            letter-spacing: -2px;
            font-weight: 900;
            padding: 0;
            margin: 0;
            line-height: 59px;
            label {
              font-size: 44px;
              font-weight: 300;
            }
          }
        }
        .item-image {
          img {
            max-width: 100px;
          }
        }
      }
      &-07 {
        display: flex;
        h1 {
          font-size: 30px;
          font-weight: 300;
        }
        .item-desc {
          h2 {
            font-size: 5rem;
            letter-spacing: -2px;
            font-weight: 900;
            padding: 0;
            margin: 0;
            line-height: 59px;
            label {
              font-size: 30px;
              font-weight: 300;
            }
          }
        }
        .item-image {
          img {
            max-width: 100px;
          }
        }
      }
      &-08 {
        display: flex;
        h1 {
          font-size: 30px;
          font-weight: 300;
        }
        .item-image {
          img {
            max-width: 100px;
          }
        }
        .item-desc {
          h2 {
            font-size: 5rem;
            letter-spacing: -2px;
            font-weight: 900;
            padding: 0;
            margin: 0;
            line-height: 59px;
            label {
              font-size: 44px;
              font-weight: 300;
            }
          }
        }
      }
      &-image {
        display: block;
      }
      &-title {
        display: block;
        margin: 6px 0;
        h1 {
          display: block;
        }
      }
      &-desc {
        display: block;
        h1 {
          display: block;
          label {
            display: block;
          }
        }
      }
    }
  }
  &__button {
    display: block;
    margin: auto;
    max-width: 420px;
    &--mobile {
      display: none;
    }
    a,
    &--mobile a {
      display: block;
      padding: 15px 20px;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      border: 2px solid $color_blue;
      color: $color_blue;
      &:hover {
        color: white;
        background-color: $color_blue;
      }
    }
  }
}

.botanik-story {
  display: block;
  background-color: #00a64e;
  &__header {
    display: flex;
    margin: auto;
    padding: 30px 0;
    max-width: 1140px;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    display: block;
    color: white;
    text-align: center;
  }
  h2 {
    display: block;
    color: white;
    text-align: center;
  }
  &__desc {
    display: block;
    margin: 24px auto;
    max-width: 1440px;
    font-size: 20px;
    color: white;
    line-height: 38px;
    font-weight: 300;
    padding: 0 20px;
  }
  &__carousel {
    display: block;
    img {
      width: 100%;
    }
  }
}

.life-options-story {
  display: inline;
  margin: auto;
  position: relative;
  .life-tabs {
    a {
      background-color: #00a54d;
      color: white;
      border: 2px solid #00a54d;
      font-size: 15px;
      flex: 1;
      max-width: 1140px;
      margin: 0 10px;
      /* background-color: white; */
      padding: 15px 20px;
      text-align: center;
      font-weight: 700;
      transition: all 0.2s linear;
    }
  }
  &__header {
    text-align: center;
    margin: auto;
    max-width: 1140px;
    margin-bottom: 50px;
    margin-top: 40px;
  }
  h1 {
    display: block;
  }
  h2 {
    display: inline;
  }
  &__area {
    display: inline;
    &-item {
      position: relative;
      margin-bottom: 20px;
      &-bg {
        overflow: hidden;
        img {
          width: 100%;
          min-height: 500px;
          object-fit: cover;
        }
      }
    }
  }
  .lfo__area-item-modal {
    position: absolute;
    left: 10%;
    top: 0;
    background: white;
    max-width: 300px;
    text-align: center;
    padding: 10px;
    &.reverse {
      right: 10%;
      left: inherit;
    }
    &__img {
      display: block;
      img {
        width: 100%;
      }
    }
    &__desc {
      display: block;
      margin: 10px 0;
    }
    &__button {
      display: block;
      a {
        display: block;
        &.color-blue {
          color: $color_blue;
        }
        &.color-green {
          color: $color_green;
        }
        &.color-orange {
          color: $color_orange;
        }
      }
    }
  }
  &__button {
    display: block;
    margin: 40px auto;
    max-width: 250px;
    a {
      display: block;
      text-align: center;
      font-size: 16px;
      border: 2px solid $color_green;
      color: $color_green;
      font-weight: bold;
      padding: 15px 20px;
      &:hover {
        background-color: #00a64e;
        color: white;
      }
    }
  }
  &__carousel {
    display: flex;
    max-width: 1400px;
    margin: 29px auto;
    .carousel-image {
      display: flex;
      flex-wrap: nowrap;
      transition: all 0.3s linear;
      > * {
        height: 100%;
        min-width: 100%;
        object-fit: cover;
      }
    }
    &.reverse {
      flex-direction: row-reverse;
    }
    &-item {
      width: 50%;
    }
    &-button {
      clear: both;
      margin: 50px auto;
      text-align: center;
      a.button {
        padding: 15px 30px;
        &.btn-green {
          border: 2px solid $color_green;
          color: $color_green;
          &:hover,
          &.active {
            background-color: $color_green;
            color: white;
          }
        }
      }
    }
    &-text {
      padding: 0 20px;
      font-size: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.footer {
  display: flex;
  &-logos {
    padding: 30px 0;
    &__context {
      margin: auto;
      max-width: 1140px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }
    }
  }
  &__right {
    width: 50%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__left {
    background-color: $color_blue;
    width: 85%;
    &-context {
      display: flex;
      justify-content: flex-end;
      padding: 50px 30px;
      &-col {
        display: flex;
        &--left {
          min-width: 300px;
          display: inline;
          padding: 25px;
          ul {
            display: inline;
            li {
              display: block;
              margin-bottom: 10px;
              a {
                display: block;
                color: white;
                font-size: 16px;
              }
            }
          }
        }
        &--right {
          padding: 5px 30px;
          color: white;
          min-width: 300px;
          .contact-info__context {
            display: flex;
            flex-direction: column;
            h1 {
              display: block;
              font-size: 20px;
              font-weight: bold;
              color: white;
            }
            p {
              display: block;
              margin-bottom: 10px;
            }
            &--social {
              display: inline;
              ul {
                display: inline;
                li {
                  display: flex;
                  a {
                    flex: 1;
                    i {
                      display: inline;
                      font-weight: 300;
                    }
                    color: white;
                    font-size: 25px;
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.page-section {
  display: block;
  &-description {
    max-width: 1400px;
    font-size: 21px;
    text-align: center;
    margin: 30px auto;
    font-weight: 300;
  }
  &-header {
    display: block;
    padding: 30px 0;
    background-color: #f2f2f2;
    h1 {
      display: block;
      text-align: center;
      padding: 20px 10px 4px 10px;
    }
    p {
      display: block;
      font-size: 21px;
      font-weight: 300;
      text-align: center;
      padding: 10px 20px;
    }
  }
}

p.phone a {
  color: #fff;
}

div#map {
  height: 374px;
}

div#mapFull {
  width: 100%;
  height: 400px;
}

@import "./section-page-media.scss";
