<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
            Başakşehir Konut Projesi 
        {% endblock %}| 3. İstanbul Konut Projesi
    </title>
    <link href="{{ __base__ }}/assets/css/all.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap&subset=latin-ext"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"/>
    <script> {% block config %}{% endblock %}</script>
    <link rel="shortcut icon" href="{{ __base__ }}/assets/images/ozellikler/logo.ico">
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5BD6B9D');</script>
</head>

<body>

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5BD6B9D" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

{% set page = 'index' %}

{% include "partials/header.twig" %}
{% include "partials/request-form.twig" with {'isvisible':' just-mobile request-form-mobile','ismobile':true} only %}
{% block body %}{% endblock %}

{% include "partials/main/sections/contact-footer.twig" %}
{% include "partials/footer-logos.twig" %}
<div id="start-conversation" class="start-conversation">
	<button>Satış yöneticisi ile canlı görüşmek istiyorum</button>
	<button>X</button>
</div>
<div class="modal hide">
	<div class="modal-close"></div>
	<div class="modal-context">
		<iframe src="https://3istanbul.youcanbook.me/?noframe=true&skipHeaderFooter=true" id="ycbmiframe3istanbul" style="width:100%;height:100%;border:0px;background-color:transparent;" frameborder="0" allowtransparency="true"></iframe>
		<script>
			window.addEventListener && window.addEventListener("message", function (event) {
if (event.origin === "https://3istanbul.youcanbook.me") {
}
}, false);
		</script>
	</div>
</div>
<script>
	var conversation = document.querySelector('#start-conversation');
if (conversation) {
var startConversation = conversation.querySelector('button:first-child');
var closeConversation = conversation.querySelector('button:last-child');
var modal = document.querySelector('.modal');
var closeModal = modal.querySelector('.modal-close');
startConversation.addEventListener('click', function () {modal.classList.remove('hide');});
closeModal.addEventListener('click', function () {modal.classList.add('hide')});
closeConversation.addEventListener('click', function (e) {
conversation.classList.add('hide');
});
}
</script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0gs1vIgVm1oJTKhGOEhNXOpqF_SnZyao"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js" type="text/javascript"></script>
<script>

    $('.phone-format').mask('(000) 000 00 00', {
        onChange: function (p) {
            if (p == '(0') {
                $('.phone-format').val("(")
            }
        }
    });

    function initialize(elementId) {


        var istanbul = new google.maps.LatLng(41.124194, 28.786471);
        var MY_MAPTYPE_ID = 'custom_style';


        var featureOpts = [
            {stylers: [{saturation: -100}, {gamma: 1}]}, {
                elementType: "labels.text.stroke",
                stylers: [{visibility: "off"}]
            }, {
                featureType: "poi.business",
                elementType: "labels.text",
                stylers: [{visibility: "off"}]
            }, {
                featureType: "poi.business",
                elementType: "labels.icon",
                stylers: [{visibility: "off"}]
            }, {
                featureType: "poi.place_of_worship",
                elementType: "labels.text",
                stylers: [{visibility: "off"}]
            }, {
                featureType: "poi.place_of_worship",
                elementType: "labels.icon",
                stylers: [{visibility: "off"}]
            }, {
                featureType: "road",
                elementType: "geometry",
                stylers: [{visibility: "simplified"}]
            }, {
                featureType: "water",
                stylers: [{visibility: "on"}, {saturation: 50}, {gamma: 0}, {hue: "#50a5d1"}]
            }, {
                featureType: "administrative.neighborhood",
                elementType: "labels.text.fill",
                stylers: [{color: "#333333"}]
            }, {
                featureType: "road.local",
                elementType: "labels.text",
                stylers: [{weight: 0.5}, {color: "#333333"}]
            }, {featureType: "transit.station", elementType: "labels.icon", stylers: [{gamma: 1}, {saturation: 50}]}
        ];

        var mapOptions = {
            zoom: 14,
            center: istanbul,
            mapTypeControlOptions: {
                mapTypeIds: [google.maps.MapTypeId.ROADMAP, google.maps.MapTypeId.SATELLITE]
            }
        };

        var map = new google.maps.Map(document.getElementById(elementId), mapOptions);


        var marker = new google.maps.Marker({
            position: istanbul,
            map: map,
            draggable: false,
            animation: google.maps.Animation.DROP
        });


        var styledMapOptions = {
            name: '3. İstanbul Başakşehir'
        };


    }

    google.maps.event.addDomListener(window, 'load', function () {
        initialize('map');
        if ($("#mapFull").length > 0) {
            initialize('mapFull');
        }
    });


    function showForm(source) {
        $(".source").val(source);
        $(".request-form").show();
    }

    $(function () {
        var gbntn = $(".g-btn");
        gbntn.click(function () {
            gbntn.removeClass("active");
            $(this).addClass('active');
            var t = $(this).data("target");

            $(".resim").hide();

            $("."+ t).show();
        })
        
        $(".request-form-close").click(function () {
            $(".request-form").hide();
        })

    })

</script>
<script src="{{ __base__ }}/assets/js/app.js"></script>
<!-- Segment Pixel - MainRT_Construction_Interest_TR - DO NOT MODIFY -->
<img src="https://secure.adnxs.com/seg?add=7730855&t=2" width="1" height="1" style="display:none;"/>
<!-- End of Segment Pixel -->
</body>
</html>
