{% extends 'layouts/master.twig' %}
{% block config %}
	window.page = 'planlar'
{% endblock %}

{% block title %}
	Daire Planları
{% endblock %}
{% block body %}
	<div class="daire-planlari page-section">
		<div class="daire-planlari-header page-section-header">
			<h1>
				<strong>DAİRE</strong>
				PLANLARI</h1>
			<p>Başakşehir ve İstanbul'un yeni konut projesi 3.İstanbul'un 2+1, 3+1 ve 4+1<br/>daire planlarına aşağıdaki bağlantılardan ulaşabilirsiniz.</p>
		</div>
		<div class="daire-planlari__item">
			<p class="daire-planlari__item-desc">3. İstanbul'da sizlere sunulan 2+1 dairelerin büyüklükleri tiplerine göre değişmektedir. 2+1 daireler 104 metrekareden başlayıp<br/>128 metrekareye kadar çıkmaktadır.</p>
			<div class="daire-planlari__item_group">
				<div class="planlari__item_group_left" data-aos="fade-up">
					<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/daire-planlari-2-1.jpg" alt=""/>
				</div>
				<div class="planlari__item_group_right" data-aos="fade-up" data-aos-delay="300">
					<ul>
						<li data-aos="fade-right" data-aos-delay="600">
							<div>
								<a href="{{ __base__ }}/assets/images/planlar/a_blok_2+1_a.jpg" class="glightbox">
									<h2>A Blok - 1. Etap</h2>
									<p>Tip A Brüt: 104.16 - 106.77 m2</p>
								</a>
							</div>
						</li>
						<li data-aos="fade-right" data-aos-delay="650">
							<div>
								<a href="{{ __base__ }}/assets/images/planlar/b_blok_2+1_b.jpg" class="glightbox">
									<h2>B Blok - 1. Etap</h2>
									<p>Tip B Brüt: 125.77 m2</p>
								</a>
							</div>
						</li>
						<li data-aos="fade-right" data-aos-delay="700">
							<div>
								<a href="{{ __base__ }}/assets/images/planlar/b_blok_2+1_c.jpg" class="glightbox">
									<h2>B Blok - 1. Etap</h2>
									<p>Tip C 113.7 - 114.17 m2</p>
								</a>
							</div>
						</li>
						<li data-aos="fade-right" data-aos-delay="750">
							<div>
								<a href="{{ __base__ }}/assets/images/planlar/b_blok_2+1_d.jpg" class="glightbox">
									<h2>B Blok - 1. Etap</h2>
									<p>Tip D 128.33 - 128.31 m2</p>
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="daire-planlari__item_image">
				<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/daire-planlari-image-01.jpg" alt=""/>
			</div>
		</div>
		<!-- ITEM -->
		<div class="daire-planlari__item">
			<p class="daire-planlari__item-desc">3. İstanbul'da 3+1 daireler 3 farklı tipte projelendirilmiştir. Bu daireler 160 metrekareden başlayıp 176 metrekareye kadar çıkmaktadır.</p>
			<div class="daire-planlari__item_group">
				<div class="planlari__item_group_left" data-aos="fade-up" data-aos-delay="300">
					<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/daire-planlari-3-1.jpg" alt=""/>
				</div>
				<div class="planlari__item_group_right">
					<ul>
						<li data-aos="fade-right" data-aos-delay="600">
							<div>
								<a href="{{ __base__ }}/assets/images/planlar/a_blok_3+1_a.jpg" class="glightbox">
									<h2>A Blok - 1. Etap</h2>
									<p>Tip A Brüt: 160.29 - 163.33 m2</p>
								</a>
							</div>
						</li>
						<li data-aos="fade-right" data-aos-delay="650">
							<div>
								<a href="{{ __base__ }}/assets/images/planlar/a_blok_3+1_b.jpg" class="glightbox">
									<h2>A Blok - 1. Etap</h2>
									<p>Tip B 160.29 - 163.33 m2</p>
								</a>
							</div>
						</li>
						<li data-aos="fade-right" data-aos-delay="700">
							<div>
								<a href="{{ __base__ }}/assets/images/planlar/b_blok_3+1_c.jpg" class="glightbox">
									<h2>B Blok - 1. Etap</h2>
									<p>Tip C Brüt: 176.37 - 176.65 m2</p>
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="daire-planlari__item_image" data-aos="fade-up">
				<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/daire-planlari-image-02.jpg" alt=""/>
			</div>
		</div>
		<!-- ITEM -->
		<div class="daire-planlari__item">
			<p class="daire-planlari__item-desc">3. İstanbul'da 4+1 daireler 5 farklı tipte projelendirilmiştir. 4+1 daireler 202 metrekareden başlayıp 220 metrekareye kadar çıkmaktadır.</p>
			<div class="daire-planlari__item_group">
				<div class="planlari__item_group_left">
					<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/daire-planlari-4-1.jpg" alt=""/>
				</div>
				<div class="planlari__item_group_right">
					<ul>
						<li data-aos="fade-right" data-aos-delay="600">
							<div>
								<a href="{{ __base__ }}/assets/images/planlar/a_blok_4+1_a.jpg" class="glightbox">
									<h2>A Blok - 1. Etap</h2>
									<p>Tip A Brüt: 214.09 - 215.25 m2</p>
								</a>
							</div>
						</li>
						<li data-aos="fade-right" data-aos-delay="650">
							<div>
								<a href="{{ __base__ }}/assets/images/planlar/b_blok_4+1_b.jpg" class="glightbox">
									<h2>B Blok - 1. Etap</h2>
									<p>Tip B 207.99 m2</p>
								</a>
							</div>
						</li>
						<li data-aos="fade-right" data-aos-delay="700">
							<div>
								<a href="{{ __base__ }}/assets/images/planlar/b_blok_4+1_c.jpg" class="glightbox">
									<h2>B Blok - 1. Etap</h2>
									<p>Tip C Brüt: 212.16 m2</p>
								</a>
							</div>
						</li>
						<li data-aos="fade-right" data-aos-delay="750">
							<div>
								<a href="{{ __base__ }}/assets/images/planlar/c_blok_4+1_d.jpg" class="glightbox">
									<h2>C Blok - 2. Etap</h2>
									<p>Tip D 202.64 m2</p>
								</a>
							</div>
						</li>
						<li data-aos="fade-right" data-aos-delay="800">
							<div>
								<a href="{{ __base__ }}/assets/images/planlar/c_blok_4+1_e.jpg" class="glightbox">
									<h2>C Blok - 2. Etap</h2>
									<p>Tip E Brüt: 207.72 m2</p>
								</a>
							</div>
						</li>
						<li data-aos="fade-right" data-aos-delay="850">
							<div>
								<a href="{{ __base__ }}/assets/images/planlar/c_blok_4+1_f.jpg" class="glightbox">
									<h2>C Blok - 2. Etap</h2>
									<p>Tip F 220.52 m2</p>
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="daire-planlari__item_image">
				<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/daire-planlari-image-03.jpg" alt=""/>
			</div>
		</div>
	</div>

{% endblock %}
