{% extends 'layouts/master.twig' %}

{% block config %}
	window.page = 'form-successful'
{% endblock %}
{% block body %}
	<div class="page-section">
		<div class="page-section page-section-header">
			<h1>
				<strong>Teşekkür ederiz</strong>
			</h1>
		</div>
	</div>
{% endblock %}
