{% extends 'layouts/master.twig' %}

{% block config %}
	window.page = 'galeri'
{% endblock %}
{% block title %}
	Galeri
{% endblock %}
{% block body %}
	<div class="page-section">
		<div class="page-section page-section-header">
			<h1>
				<strong>GALERİ</strong>
			</h1>
			<p>3. İstanbul’da yaşamınızın her anı ayrıcalıklarla dolu.</p>
		</div>
		<div class="gallery">
			<div class="gallery-tabs">
				<button type="button" class="btn-green g-btn" data-target="proje">Proje Görselleri</button>
				<button type="button" class="btn-green g-btn" data-target="insaat">İnşaat Görselleri</button>
				<button type="button" class="btn-green g-btn" data-target="ornek">Örnek Daire Görselleri</button>
				<button type="button" class="btn-green g-btn" data-target="video">Video Görselleri</button>
			</div>
			<div class="gallery-content">
				<div class="gallery-item resim proje">
					<a href="{{ __base__ }}/assets/images/gallery/image01.jpg" class="glightbox"><img src="{{ __base__ }}/assets/images/empty.jpg" data-src="{{ __base__ }}/assets/images/gallery/image01.jpg" alt=""/></a>
				</div>
				<div class="gallery-item resim insaat">
					<a href="{{ __base__ }}/assets/images/gallery/image01.jpg" class="glightbox"><img src="{{ __base__ }}/assets/images/empty.jpg" data-src="{{ __base__ }}/assets/images/gallery/image01.jpg" alt=""/></a>
				</div>
				<div class="gallery-item resim insaat">
					<a href="{{ __base__ }}/assets/images/gallery/image01.jpg" class="glightbox "><img src="{{ __base__ }}/assets/images/empty.jpg" data-src="{{ __base__ }}/assets/images/gallery/image01.jpg" alt=""/></a>
				</div>
				<div class="gallery-item resim video">
					<a href="{{ __base__ }}/assets/images/gallery/image01.jpg" class="glightbox "><img src="{{ __base__ }}/assets/images/empty.jpg" data-src="{{ __base__ }}/assets/images/gallery/image01.jpg" alt=""/></a>
				</div>
				<div class="gallery-item resim proje">
					<a href="{{ __base__ }}/assets/images/gallery/image01.jpg" class="glightbox "><img src="{{ __base__ }}/assets/images/empty.jpg" data-src="{{ __base__ }}/assets/images/gallery/image01.jpg" alt=""/></a>
				</div>
				<div class="gallery-item resim proje">
					<a href="{{ __base__ }}/assets/images/gallery/image01.jpg" class="glightbox "><img src="{{ __base__ }}/assets/images/empty.jpg" data-src="{{ __base__ }}/assets/images/gallery/image01.jpg" alt=""/></a>
				</div>
				<div class="gallery-item resim ornek">
					<a href="{{ __base__ }}/assets/images/gallery/image01.jpg" class="glightbox resim"><img src="{{ __base__ }}/assets/images/empty.jpg" data-src="{{ __base__ }}/assets/images/gallery/image01.jpg" alt=""/></a>
				</div>
				<div class="gallery-item resim ornek">
					<a href="{{ __base__ }}/assets/images/gallery/image01.jpg" class="glightbox resim"><img src="{{ __base__ }}/assets/images/empty.jpg" data-src="{{ __base__ }}/assets/images/gallery/image01.jpg" alt=""/></a>
				</div>
				<div class="gallery-item resim">
					<a href="{{ __base__ }}/assets/images/gallery/image01.jpg" class="glightbox resim"><img src="{{ __base__ }}/assets/images/empty.jpg" data-src="{{ __base__ }}/assets/images/gallery/image01.jpg" alt=""/></a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
