{% extends 'layouts/master.twig' %}
{% block config %}
	window.page = 'main';
{% endblock %}
{% block body %}
	{% include "partials/carousel.twig" %}
	{% include "partials/main/sections/istanbul-story.twig" %}
	{% include "partials/main/sections/basaksehir-story.twig" %}
	{% include "partials/main/sections/istanbul-way-story.twig" %}
	{% include "partials/main/sections/istanbul-botanik-story.twig" %}
	{% include "partials/main/sections/yasam-secenekleri-story.twig" %}

	{% if __pathname == '/tesekkurler' %}
		<div class="popup-container" style="display: block;" open-popup="#tesekkur" id="tesekkur">
			<div class="popup-context">
				<div class="popup-header">
					<a href="#" close-popup class="popup-close">Kapat</a>
				</div>
				<div class="popup-message">
					<h1>Teşekkürler</h1>
					<p>Bilgileriniz gönderilmiştir, en kısa sürede dönüş yapılacaktır.</p>
				</div>

			</div>
		</div>
	{% endif %}

{% endblock %}
