{% extends 'layouts/master.twig' %}
{% block config %}
	window.page = 'iletisim'
{% endblock %}
{% block title %}
	İletişim
{% endblock %}
{% block body %}

	<div class="page-section">
		<div class="page-section page-section-header">
			<h1>
				<strong>İLETİŞİM</strong>
			</h1>
			<p>3. İstanbul Konut Projesi ve Satış Ofisi Adresi</p>
		</div>
		<div class="page-section-description contact-page-description">
			Hürriyet Bulvarı Oyak Kent Yanı Başakşehir Mahallesi<br/>
			Çağrı Merkezi: 0850 285 79 00<br/>
			Satış Ofisi: 0212 405 50 50
		</div>
		<div class="contact-context">
			<div class="contact-context-map" id="mapFull"></div>
			<div class="contact-context-button">

				<a href="https://www.google.com.tr/maps/dir//Ba%C5%9Fak%C5%9Fehir,+3.+%C4%B0stanbul+Ba%C5%9Fak%C5%9Fehir+Konut+Projesi,+H%C3%BCrriyet+Bulvar%C4%B1,+Oyak+Kent+Yan%C4%B1,+34480/@41.1162916,28.793712,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x14caaee284d6044b:0x2ba2b70ac0706008!2m2!1d28.7981061!2d41.1172318" class="btn-blue">Yol Tarifi Al</a>
			</div>
		</div>
	</div>

	<script></script>

{% endblock %}
