{% extends 'layouts/master.twig' %}

{% block config %}
	window.page = 'lokasyon'
{% endblock %}

{% block body %}
	{% set show_header = false %}
	<div class="page-section">
		<div class="page-section page-section-header">
			<h1>
				<strong>BÜTÜN YOLLAR</strong>
				3. İSTANBULA ÇIKACAK</h1>
			<p>Nereye gitsem içimde İstanbul sevdası...<br/>
				Nereye gitsem yok bana ondan yakını...</p>

		</div>
		<div class="page-section-description">
			Avrupa’nın en büyüğü olması planlanan ve doğanın en güzel renklerini cömertçe önünüze serecek Botanik Park’a<br/>komşu 3. İstanbul sayesinde,şehirde yaşadığınızı bile unutacaksınız. 368 bin metrekarelik bir alana kurulacak olan ve<br/>doğanının güzelliklerini seyre dalıp keyifli yürüyüşler yapacağınız Botanik Park, evinizin bahçesi gibi olacak...
		</div>
		{% include "lokasyon_content.twig" %}
	</div>
	
			<div class="contact-context-button">

				<a href="https://www.google.com.tr/maps/dir//Ba%C5%9Fak%C5%9Fehir,+3.+%C4%B0stanbul+Ba%C5%9Fak%C5%9Fehir+Konut+Projesi,+H%C3%BCrriyet+Bulvar%C4%B1,+Oyak+Kent+Yan%C4%B1,+34480/@41.1162916,28.793712,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x14caaee284d6044b:0x2ba2b70ac0706008!2m2!1d28.7981061!2d41.1172318" target="_blank" class="btn-blue">Yol Tarifi Al</a>
			</div>
		</div>

{% endblock %}
