{% extends 'layouts/master.twig' %}
{% block config %}
	window.page = 'projeozellikleri'
{% endblock %}
{% block title %}
	Proje Özellikleri
{% endblock %}
{% block body %}
	<div class="page-section">
		<div class="page-section page-section-header">
			<h1>
				<strong>3. İSTANBUL'DA</strong>
				HAYAT SİZE GÜZEL
			</h1>
			<p>Bir masaldır İstanbul'da, İstanbul'u yaşamak... Ah, ne zordur burada yaşamayana İstanbul'u anlatmak...</p>
		</div>
	</div>


	<div class="daire-ozellikleri-context">
		<img width="100%" src="/assets/images/ozellikler/SliderAna.jpg" alt="SliderAna" class="hidden-m"/>
		<img width="100%" src="/assets/images/ozellikler/SliderAnaMobile.jpg" alt="SliderAna" class="show-m"/>
	</div>
	<div class="daire-ozellikleri-context">
		<div class="life-options-story__carousel">
			<div class="life-options-story__carousel-item carousel-context ">
				<div class="carousel-wrapper" data-aos="fade-right">
					<div class="carousel-image" id="life-options-items-bahce">
						<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/ozellikler/Span1.jpg" alt=""/>
						<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/ozellikler/Span1.jpg" alt=""/>
						<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/ozellikler/Span1.jpg" alt=""/>
						<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/ozellikler/Span1.jpg" alt=""/>
					</div>
				</div>
				<div class="carousel-image-dots" id="carousel-tumbs-bahce" data-thumb-type="button">
					<button type="button" class="active"></button>
				</div>

				<div class="life-options-story__carousel-button show-m">
					<a href="javascript:showForm('lll')" class="button btn-green">Biz Sizi Arayalım</a>
				</div>
			</div>
			<div class="life-options-story__carousel-item life-options-story__carousel-text" data-aos="fade-left">
				<p>
					Erkek ve kadınlar için ayrı olarak dizayn edilen toplam 3 sosyal tesisin olduğu 3.İstanbul'da günün her saati aileniz için çok keyifli
																																		geçecek. Siz, hobi atölyelerinde bir hattat gibi sabır ve beceriyle sanatsal çalışmalar yaparken,çocuklarınız kendileri için tasarlanmış
																																		oyun alanlarında veya Playstation odalarında gönüllerince eğlenebilicekler. Yüzme havuzu da, saunalar da suyun enerjisiyle yenlenmeniz ve günün 
																																		yorgunluğunu atmanız için düşünüldü.<br></p>
			</br>
			3.İstanbul Başakşehir konut projesinde bölgede başka hiç bir projede olmayan 1.4km'lik yürüyüş parkuruna da sahip olacak.Bu parkur; mağazaları,
																						restoranların ve kafelerin olduğu meydanları, yansıma havuzlarını çevreliyor ve sizi ailenizle birlikte keyifli yürüyüşler yapmaya davet ediyor.
		</p>
		<div class="life-options-story__carousel-button hidden-m">
			<a href="javascript:showForm('zzz')" class="button btn-green">Biz Sizi Arayalım</a>
		</div>
	</div>
</div></div><div class="page-section">
<div class="page-section page-section-header">
	<h1>
		3.İstanbul konut projesinde<br><strong>sizi bekleyen ayrıcalıklar</strong>
	</h1>

	<div class="istanbul-story__props proje-ozellikleri__props" data-aos="fade-up" data-aos-delay="300">
		<ul>
			<li class="story-prop">
				<div class="prop-item">
					<span class="istanbul-story__prop"><img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/istanbul-story-01.png" alt=""/></span>
					<label>Yürüyüş<br/>Parkuru</label>
				</div>
			</li>
			<li class="story-prop">
				<div class="prop-item">
					<span class="istanbul-story__prop"><img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/istanbul-story-02.png" alt=""/></span>
					<label>Basket<br/>Sahaları</label>
				</div>
			</li>
			<li class="story-prop">
				<div class="prop-item">
					<span class="istanbul-story__prop"><img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/istanbul-story-03.png" alt=""/></span>
					<label>Mini Futbol<br/>Sahası</label>
				</div>
			</li>
			<li class="story-prop">
				<div class="prop-item">
					<span class="istanbul-story__prop"><img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/istanbul-story-04.png" alt=""/></span>
					<label>Tenis<br/>Kortları</label>
				</div>
			</li>
			<li class="story-prop">
				<div class="prop-item">
					<span class="istanbul-story__prop"><img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/istanbul-story-05.png" alt=""/></span>
					<label>Çocuk Oyun<br/>Alanları</label>
				</div>
			</li>
			<li class="story-prop">
				<div class="prop-item">
					<span class="istanbul-story__prop"><img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/istanbul-story-06.png" alt=""/></span>
					<label>Lounge</label>
				</div>
			</li>
			<li class="story-prop">
				<div class="prop-item">
					<span class="istanbul-story__prop"><img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/istanbul-story-07.png" alt=""/></span>
					<label>Playstation<br/>Odası</label>
				</div>
			</li>
			<li class="story-prop">
				<div class="prop-item">
					<span class="istanbul-story__prop"><img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/istanbul-story-08.png" alt=""/></span>
					<span></span>
					<label>Bilardo<br/>Odası</label>
				</div>
			</li>
			<li class="story-prop">
				<div class="prop-item">
					<span class="istanbul-story__prop"><img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/istanbul-story-09.png" alt=""/></span>
					<label>Masa Tenisi<br/>Odası</label>
				</div>
			</li>
			<li class="story-prop">
				<div class="prop-item">
					<span class="istanbul-story__prop"><img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/istanbul-story-10.png" alt=""/></span>
					<label>Hobi<br/>Atölyesi</label>
				</div>
			</li>
			<li class="story-prop">
				<div class="prop-item">
					<span class="istanbul-story__prop"><img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/istanbul-story-11.png" alt=""/></span>
					<label>Yüzme<br/>Havuzu</label>
				</div>
			</li>
			<li class="story-prop">
				<div class="prop-item">
					<span class="istanbul-story__prop"><img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/common/istanbul-story-12.png" alt=""/></span>
					<label>Spa</label>
				</div>
			</li>
		</ul>
		<div class="istanbul-story__arrow show-flex-m">
			<div class="istanbul-story__arrow--left"></div>
			<div class="istanbul-story__arrow--right"></div>
		</div>
	</div>
</div>
<br/></div><div class="page-section">
<div class="page-section page-section-header no-bg">
	<h1>
		<strong>3.İSTANBUL'DA</strong>
		YAŞAMANIN HAVASI DA BİR BAŞKA!
	</h1>
	<p>Korulardan yükselen servi ağaçlarının serinliğidir İstanbul biraz...<br>
		Biraz erguvan moru, biraz lale kırmızısı...Ah İstanbul!<br>
		4 mevsimin bir başka renk,4 mevsimin bir başka güzel...</p>
</div></div><div class="daire-ozellikleri-context">
<img width="100%" src="/assets/images/ozellikler/İstanbulAlan.jpg" alt=""/></div><div class="daire-ozellikleri-context">
<div class="life-options-story__carousel reverse">
	<div class="life-options-story__carousel-item carousel-context ">
		<div class="carousel-wrapper" data-aos="fade-right">
			<div class="carousel-image" id="options-items-ozellik2">
				<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/ozellikler/Span2.jpg" alt=""/>
				<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/ozellikler/Span2.jpg" alt=""/>
				<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/ozellikler/Span2.jpg" alt=""/>
				<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/ozellikler/Span2.jpg" alt=""/>
			</div>
		</div>
		<div class="carousel-image-dots" id="carousel-tumbs-ozellik2" data-thumb-type="button">
			<button type="button" class="active"></button>
		</div>

		<div class="life-options-story__carousel-button show-m">
			<a href="javascript:showForm('nnn')" class="button btn-green">Biz Sizi Arayalım</a>
		</div>
	</div>
	<div class="life-options-story__carousel-item life-options-story__carousel-text" data-aos="fade-left">
		<p>
			Başakşehir'deki konut projeleri arasında en büyük yeşil alana sahip olacak 3.İstanbul'da, 4 mevsimin güzelliğini de ayrı yaşayacaksınız.<br></p>
	</br>
	Ailenizle birlikte yemyeşil ağaçlar ve özel kamelyalar arasında yürüyüşe çıkacak, yürüyüş parkurlarıyla çevrelenen süs havuzlarında güneşin yansımasına
										tanıklık edecek, ağaçların gölgesinde huzur bulacaksınız.
</p>
<div class="life-options-story__carousel-button hidden-m">
	<a href="javascript:showForm('qqq')" class="button btn-green">Biz Sizi Arayalım</a>
</div></div></div></div><div class="page-section margin-bottom-20"><div class="page-section page-section-header"><h1>
<strong>BAŞAHŞEHİR'İN</strong>
EN BÜYÜK VADİSİ</h1><p>Gök mavi... Deniz mavi...<br>
İstanbul'un insanı içine çeken derinliği hepsinden mavi...</p><div class="page-section-description">
İstanbul'un en modern ve büyük açık hava sosyal alanlarından biri olan 3.İstanbul Vadisi'nde dere ve havuzlar,camiler,amfi tiyatro,kafeler, restoranlar,
		açık ve kapalı otoparklar bulunuyor.<br></br>3.İstanbul Vadisi sayesinde 3.İstanbul'da yaşamayı çocuklarınız da en az sizin kadar sevecek..</div></div></div><div class="daire-ozellikleri-context"><img width="100%" src="/assets/images/ozellikler/BasaksehirVadisi.jpg" alt="BasaksehirVadisi" class="hidden-m"/><img width="100%" src="/assets/images/ozellikler/BasaksehirVadisi_mobile.jpg" alt="BasaksehirVadisi" class="show-m"/></div><!------------------------------><div class="page-section margin-bottom-20"><div class="page-section page-section-header"><h1><strong>İSTANBUL'UN</strong>EN SAĞLIKLI KONUT PROJESİ!</h1><p>"Olmaya devlet cihanda bir nefes sıhhat gibi..."<br>Kanuni Sultan Süleyman</p><div class="page-section-description">İnşasına başlanan Avrupa'nın en büyük sağlık kenti, 3.İstanbul Başakşehir'i çekim merkezi haline getirecek ayrıcalıklardan sadece biri...</div></div></div><div class="daire-ozellikleri-context"><img width="100%" src="/assets/images/ozellikler/SaglikKent.jpg" alt="SaglikKent" class="hidden-m"/><img width="100%" src="/assets/images/ozellikler/SaglikKent_mobile.jpg" alt="SaglikKent" class="show-m"/></div><!------------------------------><div class="page-section margin-bottom-20"><div class="page-section page-section-header"><h1><strong>BÜYÜK KENT MEYDANIYLA</strong>HODRİ MEYDAN!</h1><p>Eminönü, Sultanahmet, Beyazıt... Nereye baksan, İstanbul meydan meydan...<br>Dünyaya meydan okuyan bir şehrin güzelliğidir en çok o şehrin meydanlarında açığa çıkan..</p><div class="page-section-description">Taksim Meydanı'nın yaklaşık 2 katı büyüklüğündeki, dört bir yanı yeşilliklerle bezeli Kent Meydanı yeni buluşma noktanız olacak.<br>Adliye sarayı, hükümet konakları, kongre merkezleri, nikah sarayı, açık-kapalı spor alanları, yürüyüş alanları, kafeleri ve restoranlarıyla 5 bin kişinin aynı anda ibadet edebiliceği camiyi de 
									de içinde barındıran Kent Meydanı, Başakşehir'in yeni gözdesi olacak.</div></div></div><div class="daire-ozellikleri-context"><img width="100%" src="/assets/images/ozellikler/BuyukKent.jpg" alt="BuyukKent" class="hidden-m"/><img width="100%" src="/assets/images/ozellikler/BuyukKent_mobile.jpg" alt="BuyukKent" class="show-m"/></div>{% endblock %}
